<template>
  <div class="container">
    <h2>Register {{event.name}}</h2>
    <div>
      <img height="300" :src="event.imageUrl" />
    </div>
    <div style="margin-top: 50px;">
      <input type="text" placeholder="Your name" required />
      <input type="text" placeholder="Your phone number" required />
      <input type="text" placeholder="Your email address" required />
      <input type="submit" @click="submit" />
    </div>
  </div>
</template>

<script>
import getEvent from '~/graphql/event/getEvent.gql'

export default {
  head: () => ({
    title: `(${new Date().toISOString()}) %s`
  }),
  apollo: {
    event: {
      query: getEvent,
      variables () {
        return {
          URL: this.$route.params.url
        }
      },
      update: data => data.event
    }
  },
  data: () => ({
    event: {}
  })
}
</script>

<style lang="scss">
.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 900px;
  display: block;
  padding: 30px;
}

.links {
  margin-top: 100px;
  font-size: 0.9rem;

  a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
    display: flex;

    &:hover, &::selection {
      color: #ffffff;
      background: #000000;
    }
  }
}

.blog-feed {
  flex-grow: 1;
  margin: 80px 60px 10px 60px;

  .post {
    margin:  0 0 50px 0;

    .date {
      color: #777777;
      padding: 5px 0 10px 0;
    }

    a {
      color: #000000;
      text-decoration: none;
      margin: 5px 0;

      &:hover, &::selection {
        color: #ffffff;
        background: #000000;
      }
    }

    .ql-editor {
      padding: 0;
    }
  }

  .title-input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.show-comment {
  width: 100%;
}

.quill-editor {
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}
</style>
