<template>
  <div class="container">
    <div class="blog-feed">
      <form>
        <input type="text" placeholder="Event Name" v-model="event.name" required />
        <input type="text" placeholder="Event URL" v-model="event.url" required />
        <input type="text" placeholder="Image URL" v-model="event.imageUrl" required />
        <input type="submit" @click="submit" />
      </form>
    </div>
  </div>
</template>

<script>
import createEvent from '~/graphql/event/createEvent.gql'

export default {
  data: () => ({
    event: {}
  }),
  computed: {

  },
  mounted () {

  },
  methods: {
    async submit (e) {
      if (!this.event.name || !this.event.url || !this.event.imageUrl) {
        return
      }

      e.preventDefault()

      try {
        const {
          data: {
            createEvent: event
          }
        } = await this.$apollo.mutate({
          mutation: createEvent,
          variables: {
            EventInput: {
              name: this.event.name,
              url: this.event.url,
              imageUrl: this.event.imageUrl
            }
          }
        })

        console.log(event)
        this.$router.push({
          path: '/event/' + event.url
        })
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>

<style lang="scss">
body {
  &::-webkit-scrollbar-track {
    border: 1px solil black;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 900px;
  display: flex;
  padding: 30px;
}
</style>
